.diary-table {
    width: 100%;
    margin-top: 5px;
}

.semester-ratings-table {
    width: 100%;
    display: flex !important;
    margin-bottom: 40px;
    height: min-content !important;
}

.subjects-sidebar {
    width: 10%;
    transform: translateY(107px);
}

.subject-gap {
    width: 99%;
    height: 30px !important;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
} 

.ratings-table {
    display: flex;
    height: 100%;
    width: 90%;
    overflow-x: scroll;
}

.ratings-table-month {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ratings-table-month-marker {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: #AF7;
    letter-spacing: 20px;
}

.ratings-table-body {
    display: flex;
    height: 100%;
}

.ratings-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rating-gap, .rating-number-gap {
    height: 30px !important;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rating-gap {
    border: 1px solid black;
    width: 50px;
    background-color: white;
}

.rating-number-gap {
    width: 52px;
}

.semester-marker {
    font-size: 48px;
    color: orange;
    letter-spacing: 25px;
    text-align: center;
    margin: 20px 0;
}

.student-middle-rating {
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
}

.semester-marker, .ratings-table-month-marker {
    text-shadow: 1px 1px 1px black,
        -3px -3px 1px black;
}

.student-middle-rating {
    text-shadow: 1px 1px 1px black,
        -2px -2px 1px black;
}

.rating-statuses-table {
    background-color: #FFFD;
    border: 7px solid #999D;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
    display: flex;
}

.rating-color-to-status {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.rating-color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}