.editratings-form-main-block {
    margin: 30px 0 0 100px;
    width: 950px;
}

.editratings-form-student-block {
    display: flex;
    border: 5px solid orange;
    margin-bottom: 50px;
}

.editratings-form-student-name-gap {
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 14px;
    height: 46.5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editratings-form-containers-block {
    display: flex;
    flex-direction: column;
}

.editratings-form-ratings-container, .editratings-form-statuses-container {
    display: flex;
}

.editratings-form-status-input, .editratings-form-rating-input, .editratings-form-date-input, .editratings-form-subject-input {
    width: 150px;
}

.editratings-form-submit-button, .editratings-form-subject-input {
    margin-left: 200px;
}

.editratings-form-submit-button {
    padding: 10px 30px;
    border: 0 solid #000 !important;
    background-color: blue;
    color: #FFF;
    font-size: 16px;
    border-radius: 10px;
}

.editratings-form-subject-input {
    margin-bottom: 50px;
}