.show-subject-form {
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-subject-form-submit {
    padding: 10px;
    color: #FFF;
    background-color: blue;
    border: 0 solid #000;
    border-radius: 10px;
    margin-right: 20px;
}