.wikipedia {
    max-width: 700px;
    margin: 0 auto;
    background-color: #FFFA;
    padding: 20px;
    border-radius: 15px;
    border: 15px solid #555A;
    box-shadow: 10px 10px 20px 20px #DDD,
        -10px -10px 20px 20px #DDD;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.wiki-h1-header, .wiki-h2-header, .wiki-h3-header {
    margin-top: 20px;
    text-align: center;
}

.wikipedia p {
    margin-bottom: 15px;
}

.wikipedia img {
    margin: 0 auto;
    display: block;
}

.wiki-h1-header {
    color: #0F0;
    text-shadow: -2px -2px 2px #000, 1px 1px 0 #000;
}

.wiki-h2-header {
    color: yellow;
    text-shadow: -1.5px -1.5px 1.5px #000, 1px 1px 0 #000;
}

.wiki-h3-header {
    color: yellowgreen;
    text-shadow: -1px -1px 1px #000;
    cursor: grab;
}

#toWikipediaButton {
    background-color: #00A;
}

#toMainButton {
    background-color: blue;
}

.rating-statuses-table {
    background-color: #FFFD;
    border: 7px solid #999D;
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    display: flex;
}

.rating-color-to-status {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.rating-color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.accordion div {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}