{% load static %}

<html lang="ua-ua">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'site.css' %}">
        <link rel="stylesheet" href="{% static 'top-menu.css' %}">
        <link rel="stylesheet" href="{% static 'registration-form.css' %}">
        <link rel="stylesheet" href="{% static 'info.css' %}">
        <link rel="stylesheet" href="{% static 'three-dots-menu.css' %}">
        <link rel="shortcut icon" href="{% static 'logo_shortcut.png' %}">

        <style>
            body {
                background-blend-mode: overlay;
                background-attachment: fixed;
            }
        </style>

        {% block additional_sheets %}{% endblock %}
        <title>6 Клас</title>
    </head>
    
    <body>
        <header>
            <div class="top-menu">
                <span class="top-menu-element top-menu-header width-etalon" id="top-menu-header"><span>Наш 6 клас</span></span>
                
                <script>
                    const header = document.getElementById("top-menu-header");

                    if (screen.width < 600) {
                        header.style.display = "none";
                    }
                </script>

                <img src="{% static 'logo_top_menu.png' %}" class="top-menu-element width-etalon">
                <button id="toMainButton" class="top-menu-button top-menu-element top-menu-to-main-button width-etalon" title="На початкову сторінку">Головна</button>
                <button id="toDiaryButton" class="top-menu-button top-menu-element movable" title="Щоденник учня">Щоденник</button>
                <button id="editRatingsButton" class="top-menu-button top-menu-element movable" title="Додавання і редагування оцінок учнів">Редагувати оцінки</button>
                <button id="toWikipediaButton" class="top-menu-button top-menu-element movable top-menu-to-wiki-button" title="Як користуватися сайтом">Довідка</button>
                <button id="registrationButton" class="top-menu-button top-menu-element top-menu-registration-button movable" title="Вхід в аккаунт">Вхід</button>
                <button id="unregistrationButton" class="top-menu-button top-menu-element top-menu-unregistration-button movable" title="Вихід з аккаунта">Вихід</button>

                <div class="three-dots-menu top-menu-element width-etalon" title="Більше функцій">
                    <h1>...</h1>

                    <div class="three-dots-vertical">
                        <button id="addArticleButton" class="top-menu-button top-menu-element movable" title="Додати новину с фото та відео">Додати статтю</button>
                        <button id="selectThemeButton" class="top-menu-button top-menu-element top-menu-select-theme-button" title="Обрати тему (чорна, біла, синя)">Обрати тему</button>
                        <button id="toInformationButton" class="top-menu-button top-menu-element top-menu-to-information-button" title="Інформація для учнів та гостей">Інформація</button>
                        <button id="subscribeButton" class="top-menu-button top-menu-element top-menu-subscribe-button" title="Підписатися на новини">Підписатися</button>
                        <button id="unsubscribeButton" class="top-menu-button top-menu-element top-menu-unsubscribe-button" title="Відписатися від розсилки">Відписатися</button>
                    </div>

                    <script async>
                        document.getElementsByClassName("three-dots-menu")[0].onclick = () => {
                            if (document.getElementsByClassName("three-dots-vertical")[0].style.display === "none") {
                                document.getElementsByClassName("three-dots-vertical")[0].style.display = "flex";
                                document.getElementsByClassName("three-dots-menu")[0].style.backgroundColor = "#00A";
                            } else {
                                document.getElementsByClassName("three-dots-vertical")[0].style.display = "none";
                                document.getElementsByClassName("three-dots-menu")[0].style.backgroundColor = "blue";
                            }
                        }
                    </script>
                </div>
            </div>
        </header>

        <main>
            <div class="modal-window-bg" id="registrationFormBg">
                <form method="post" class="registration-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Увійти" class="registration-form-button-input">
                    <input type="reset" id="registrationFormReset" value="Скасувати" class="registration-form-button-input">
                </form>
            </div>

            {% block main_content %}{% endblock %}
        </main>

        <footer>
            <div class="info-box">
                <div class="info-triangle"></div>

                <div class="info-container">
                    <div class="info-wrapper">
                        <div class="info-anchor-container">
                            <img class="info-anchor-sprite" src="{% static 'facebook_sprite.png' %}">
                            <a href="https://www.facebook.com/lyceum.odessa/" class="info-anchor" target="_blank">Facebook Рішельєвського ліцею</a>
                        </div>

                        <div class="info-anchor-container">
                            <img class="info-anchor-sprite" src="{% static 'rl_logo.jpg' %}">
                            <a href="http://rl.odessa.ua/" class="info-anchor" target="_blank">Сайт Рішельєвського ліцею</a>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                document.body.style.backgroundImage = "url(\"{% static 'bg.jpg' %}\")";
            </script>

            {% if theme == "Light" %}
                <script>
                    document.body.style.backgroundImage += ", linear-gradient(0deg, #DDDB, #DDDB)";
                </script>
            {% elif theme == "Dark" %}
                <script>
                    document.body.style.backgroundImage += ", linear-gradient(0deg, #444F, #444F)";
                </script>
            {% elif theme == "Blue" %}
                <script>
                    document.body.style.backgroundImage = "url(\"{% static 'flowers_theme_blue.gif' %}\"), linear-gradient(0deg, #DDDB, #DDDB)";
                </script>
            {% endif %}
            
            <script async>
                let toDiaryButton = document.getElementById("toDiaryButton");
                let editRatingsButton = document.getElementById("editRatingsButton");
                let showedButton = false;
                
                if ("{{ canShowToDiaryButton }}" === "y") {
                    toDiaryButton.style.display = "block";
                    addArticleButton.style.display = "block";
                    if ("{{ canShowUnsubscribeButton }}" === "y") unsubscribeButton.style.display = "block";
                    else subscribeButton.style.display = "block";
                    showedButton = true;
                } else if ("{{ canShowEditRatingsButton }}" === "y") {
                    editRatingsButton.style.display = "block";
                    addArticleButton.style.display = "block";
                    if ("{{ canShowUnsubscribeButton }}" === "y") unsubscribeButton.style.display = "block";
                    else subscribeButton.style.display = "block";
                    showedButton = true;
                }

                const isMobileRegex = /Android|iPad|iPhone|iPod|BlackBerry|IEMobile|WPDesktop|Opera Mini/;
                const isMobile = isMobileRegex.test(navigator.userAgent);

                if (isMobile) {
                    const canDownload = confirm("На вашому екрані деякий контент може відображатися нечітко, але ви можете завантажити додаток 'Class Six Student' для Android. Завантажити?");
                    
                    if (canDownload) {
                        window.location.href = "{% static 'classsix-student.apk' %}";
                    }
                }
            </script>

            <script src="{% static 'buttons.js' %}" async></script>
            <script src="{% static 'registration_form.js' %}" async></script>
            <script src="{% static 'adaptive_three_dots.js' %}" async></script>
            {% block additional_scripts %}{% endblock %}
        </footer>
    </body>
</html>