{% extends "base.html" %}
{% load static %}
{% load times %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'diary.css' %}">

    <style>
        .top-menu-to-main-button {
            background-color: blue;
        }
        
        #toDiaryButton {
            background-color: #00A;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="diary-table">
        <h1 class="semester-marker">1 СЕМЕСТР</h1>

        <div class="semester-ratings-table">
            <div class="subjects-sidebar">
                {% for sub in subjects %}
                    <div class="subject-gap"><span>{{ sub.name }}</span></div>
                {% endfor %}
            </div>

            <div class="ratings-table">
                {% for month in first_semester_months %}
                    <div class="ratings-table-month">
                        <h1 class="ratings-table-month-marker">{{ month.name }}</h1>

                        <div class="ratings-table-body">
                            {% for day_number in month.days|times %}
                                <div class="ratings-column" id="col-{{ month.number_in_year }}-{{ day_number }}">
                                    <div class="rating-number-gap">{{ day_number }}</div>

                                    {% for row in subjects_len|times %}
                                        <div class="rating-gap" id="gap-{{ month.number_in_year }}-{{ day_number }}-{{ row }}"></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <h1 class="semester-marker">2 СЕМЕСТР</h1>

        <div class="semester-ratings-table">
            <div class="subjects-sidebar">
                {% for sub in subjects %}
                    <div class="subject-gap"><span>{{ sub.name }}</span></div>
                {% endfor %}
            </div>

            <div class="ratings-table">
                {% for month in second_semester_months %}
                    <div class="ratings-table-month">
                        <h1 class="ratings-table-month-marker">{{ month.name }}</h1>

                        <div class="ratings-table-body">
                            {% for day_number in month.days|times %}
                                <div class="ratings-column" id="col-{{ month.number_in_year }}-{{ day_number }}">
                                    <div class="rating-number-gap">{{ day_number }}</div>

                                    {% for row in subjects_len|times %}
                                        <div class="rating-gap" id="gap-{{ month.number_in_year }}-{{ day_number }}-{{ row }}"></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if middle_rating >= 9 %}
            <h2 class="student-middle-rating" style="color: rgb(0, 255, 0);">Середня оцінка по всім предметам: {{ middle_rating }}</h2>
        {% elif middle_rating < 9 and middle_rating >= 5 %}
            <h2 class="student-middle-rating" style="color: rgb(255, 200, 0);">Середня оцінка по всім предметам: {{ middle_rating }}</h2>
        {% elif middle_rating < 5 %}
            <h2 class="student-middle-rating" style="color: rgb(255, 0, 0);">Середня оцінка по всім предметам: {{ middle_rating }}</h2>
        {% endif %}
    </div>

    {% for rating in ratings %}
        <script async>
            var date = "{{ rating.month }}-{{ rating.day }}";
            var subject = "{{ rating.subject.index }}";
            let gapId = "gap-" + date + "-" + subject;
            let gap = document.getElementById(gapId);

            if ("{{ rating.rating1 }}" !== "None") {
                let value = "{{ rating.rating1.value }}";
                let color = "{{ rating.rating1.color }}";
                let canPutSlash = "{{ rating.rating2 }}" !== "None" || "{{ rating.rating3 }}" !== "None" || "{{ rating.rating4 }}" !== "None";
                gap.innerHTML = `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            }
            
            if ("{{ rating.rating2 }}" !== "None") {
                let value = "{{ rating.rating2.value }}";
                let color = "{{ rating.rating2.color }}";
                let canPutSlash = "{{ rating.rating3 }}" !== "None" || "{{ rating.rating4 }}" !== "None";
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            }
            
            if ("{{ rating.rating3 }}" !== "None") {
                let value = "{{ rating.rating3.value }}";
                let color = "{{ rating.rating3.color }}";
                let canPutSlash = "{{ rating.rating4 }}" !== "None";
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            } 
            
            if ("{{ rating.rating4 }}" !== "None") {
                let value = "{{ rating.rating4.value }}";
                let color = "{{ rating.rating4.color }}";
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}</span>`;
            }
        </script>
    {% endfor %}

    <script async>
        if ("{{ canRedirect }}" === "y") window.location.href = "/";


        // ---
        const FIRST_WEEKEND_START_DAY = 5;
        // ---


        let is366 = (new Date()).getFullYear() % 4 === 0;
        const MONTHS_LENGTHS = [30, 31, 30, 31, 31, 28 + is366, 31, 30, 31];
        let isPlus6 = false;
        let lastJ = FIRST_WEEKEND_START_DAY;

        for (let i = 1; i <= 9; i++) {
            for (var j = lastJ; j <= MONTHS_LENGTHS[i - 1];) {
                let column = document.getElementById(`col-${i}-${j}`);
                let gaps = column.children;
                for (let gap of gaps) if (gap.className === "rating-gap") gap.style.backgroundColor = "#FFA";
                if ((j + (isPlus6 ? 6 : 1)) > MONTHS_LENGTHS[i - 1]) break;
                j += isPlus6 ? 6 : 1;
                isPlus6 = !isPlus6;
            }

            lastJ = (j - MONTHS_LENGTHS[i - 1] + (isPlus6 ? 6 : 1));
            isPlus6 = !isPlus6;
        }
    </script>
{% endblock %}