.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: #FF9;
}

.registration-form-input {
    border: 2px solid #000 !important;
    background-color: #FF3;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

.registration-form-input, .registration-form-button-input {
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
}

.registration-form-button-input {
    height: 40px;
    border: 0 solid #000 !important;
    background-color: blue;
    color: #FFF;
    font-size: 16px;
    width: 150px;
    font-weight: 500;
}