.select-theme-form {
    width: 200px;
    margin-left: 600px;
    margin-top: 100px;
}

.select-theme-input {
    margin-bottom: 30px;
}

.select-theme-form-submit {
    padding: 10px 30px;
    background-color: #0F0;
    color: white;
    border: 0 solid #000;
    border-radius: 10px;
}

.select-theme-input, .select-theme-form-submit {
    width: 90%;
}