{% extends "base.html" %}
{% load static %}
{% load get_by_key %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'wikipedia.css' %}">
{% endblock %}

{% block main_content %}
    <div class="wikipedia">
        <img src="{% static 'logo_top_menu.png' %}">
        <h1 class="wiki-h1-header">Документація Class Six Site</h1>

        <h2 class="wiki-h2-header">Загальна інформація.</h2>

        <div class="accordion">
            <h3 class="wiki-h3-header">Головна сторінка</h3>

            <div>
                <p>
                    На початковій (головній) сторінці сайту є:

                    <ul>
                        <li>головне меню користувача сайту - зверху сторінки;</li>
                        <li>стрічка новин про учнів та ліцей, новини доступні для перегляду усім відвідувачам сайту;</li>
                        <li>контактна інформація.</li>
                    </ul>
                </p>

                <p>Кнопка «Головна» використовується для переходу на початкову (головну) сторінку сайту.</p>
                <p>Кнопка «Щоденник» доступна для учнів і переводить користувача на сторінку для перегляду його щоденника з оцінками з усіх учбових предметів за весь навчальний рік.</p>
                <p>Кнопка «Редагувати оцінки» доступна для користувачів-вчителів і переводить на сторінку, де додаються, редагуються та переглядаються оцінки учнів з усіх учбових предметів.</p>
                <p>Кнопка «Додати статтю» відкриває сторінку сайту, де є можливість створити допис у стрічку новин – текст, фото і відео.</p>
                <p>Кнопка «Інформація» показує користувачу докладну довідкову інформацію про сайт, його частини й можливості.</p>
                <p>Кнопка «Обрати тему» дозволяє користувачу обрати бажане кольорове забарвлення сторінок сайту серед декількох запропонованих варіантів.</p>
                <p>Кнопка «Підписатися» допоможе підписатися на новини сайту та отримувати повідомлення на email про появлення нових дописів у стрічці новин.</p>
                <p>У верхньому лівому куту екрану знаходиться кнопка «Вхід» - це кнопка для авторизації користувача та доступу до щоденника з оцінками.</p>
                <p>У стрічці новин відображаються 10 останніх дописів, відсортовані за датою.</p>
                <p>Контактна інформація надана у нижній частині сторінки. Ця інформація відображається, якщо натиснути чи навести покажчик «миші» на синій трикутник.</p>
            </div>
        </div>

        <div class="accordion">
            <h3 class="wiki-h3-header">Авторизація користувачів</h3>

            <div>
                <p>
                    Авторизація користувачів на сайті дозволить учням і вчителям ліцею потрапити на додаткові сторінки сайту та:

                    <ol>
                        <li>Заповнювати та переглядати щоденник з оцінками.</li>
                        <li>Робити дописи з новинами та редагувати їх.</li>
                    </ol>
                </p>

                <p>Логін та пароль для авторизації можна отримати у адміністратора сайту. У користувачів сайту індивідуальні логін та пароль. Завдяки цьому кожен користувач має змогу переглядати лише ті сторінки сайту й інформацію, що стосується саме його.</p>

                <p>
                    У користувача сайту зі статусом «учень» є можливість:
                    
                    <ul>
                        <li>переглядати щоденник з оцінками з усіх учбових предметів за весь навчальний рік;</li>
                        <li>робити дописи у стрічку новин, та редагувати власні створені дописи.</li>
                    </ul>
                </p>

                <p>
                    У користувача сайту зі статусом «вчитель» є можливість:

                    <ul>
                        <li>Виставляти оцінки з усіх учбових предметів у щоденники усіх учнів. Також є можливість редагувати та видаляти існуючі оцінки у щоденнику.</li>
                        <li>Робити дописи у стрічку новин, та редагувати власні створені дописи. Також є можливість редагувати та видаляти дописи учнів.</li>
                    </ul>
                </p>
                
                <p>Усі відвідувачі сайту можуть скористатися гостьовими логінами та паролями, щоб потрапити на додаткові сторінки сайту й ознайомитися з функціями і зовнішнім виглядом щоденника з оцінками. Побачити гостьові логіни і паролі можна натиснувши на кнопку «Демо-версія», розташовану у лівому верхньому куту початкової (головної) сторінки сайту.</p>

                <p>Для здійснення авторизації на сайті користувач натискає кнопку «Вхід», яка розташована у верхньому правому куту початкової (головної) сторінки сайту. З’явиться віконце з полями реєстрації, у які користувач вводить індивідуальні (заздалегідь надані йому) логін і пароль, натискає кнопку «Увійти». У разі успішної авторизації кнопка меню «Вхід» змінюється на «Вихід»; також, з’являються додаткові кнопки головного меню сайту зверху сторінки.</p>
            </div>
        </div>

        <div class="accordion">
            <h3 class="wiki-h3-header">Додати статтю (Редагування)</h3>

            <div>
                <p>До розділу «Додати статтю» мають доступ лише авторизовані користувачі сайту. Для створення власного допису (статті) у стрічку новин сайту користувач перш за все авторизується на сайті (Див. розділ «Авторизація користувачів»).</p>

                <p>
                    Далі користувач:

                    <ol>
                        <li>Натискає кнопку «Додати статтю» у головному меню сайту. З’являється нова сторінка сайту з білим полем для введення тексту і кнопками для завантаження фото та відео файлів.</li>
                        <li>Друкує текст новини у біле поле в центральній частині сторінки.</li>
                        <li>Якщо користувач бажає додати в допис малюнок чи фото, то натискає кнопку «Обрати файл» поряд с написом «Зображення». Відкривається вікно для вибору потрібного файлу зі свого пристрою. Користувач обирає потрібний файл та підтверджує свій вибір.</li>
                        <li>Якщо користувач бажає додати в допис відео, то натискає кнопку «Обрати файл» поряд с написом «Відео». Відкривається вікно для вибору потрібного файлу зі свого пристрою. Користувач обирає потрібний файл та підтверджує свій вибір.</li>
                        <li>Коли написання статті новин завершено, користувач натискає кнопку «Зберегти» в нижній частині сторінки сайту. Допис з новиною зберігається та відкривається сторінка сайту з новинами, де вже відображається щойно зроблений користувачем допис з новинами.</li>
                    </ol>
                </p>
                
                <p>Редагування або видалення допису з новинами доступне зі сторінки сайту з новинами. Під текстом кожної новини, автором якої є авторизований користувач, знаходяться дві кнопки: «Редагувати» і «Видалити».</p>
                <p>Натискання на кнопку «Видалити» моментально видаляє з сайту увесь допис з прикріпленими файлами.</p>
                <p>Натискання на кнопку «Редагувати» відкриває сторінку сайту для редагування допису новин, подібну до тієї, де новина створюється.</p>

                <p>
                    Користувач може:

                    <ul>
                        <li>Змінити текст, новини у білому полу і центральній частині сторінки.</li>
                        <li>Видалити файл зі зображенням чи відео, натиснувши на відповідну кнопку «Редагування зображення» чи «Редагування відео».</li>
                        <li>Замінити файл зі зображенням чи відео, натиснувши на відповідну кнопку «Редагування зображення» чи «Редагування відео»; а після того – завантаживши новий файл зі свого пристрою. </li>
                        <li>Для завершення процесу редагування допису з новиною користувач натискає кнопку «Зберегти» в нижній частині сторінки сайту.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="accordion">
            <h3 class="wiki-h3-header">Інформація</h3>

            <div>
                <p>
                    У розділі «Інформація» головного меню сайту можна переглянути:

                    <ul>
                        <li>Розклад уроків класу та розклад дзвінків у ліцеї.</li>
                        <li>Перелік вчителів ліцею, які викладають у класі.</li>
                        <li>Мапа міста Одеса, на якій зазначено адресу ліцею.</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="accordion">
            <h3 class="wiki-h3-header">Підписатися на новини</h3>

            <div>
                <p>До розділу «Підписатися на новини» мають доступ лише авторизовані користувачі сайту. Тому користувач перш за все авторизується на сайті (Див. розділ «Авторизація користувачів»).</p>

                <p>Підписка на новини сайту дасть змогу користувачу отримати повідомлення на електронну поштову скриньку (email) про те, що на сайті у стрічці новин з’явився новий допис.</p>

                <p>
                    Для того щоб оформити підписку на новини сайту авторизований користувач:

                    <li>атискає кнопку «Підписатися» у головному меню сайту зверху сторінки.</li>
                    <li>Вводить адресу своєї електронної скриньки (email) у біле поле для вводу, розташоване в центрі сторінки.</li>
                    <li>Для підтвердження підписки й своєї електронної скриньки (email) натискає кнопку «Підписатися», розташовану одразу під полем для вводу адреси email.</li>
                </p>
                
                <p>У разі успішної підписки на новини сайту кнопка «Підписатися» змінюється на «Відписатися» у головному меню сайту зверху сторінки.</p>
                
                <p>Кнопка «Відписатися» у головному меню сайту зверху сторінки використовується для відміни підписки на новини сайту й видалення інформації про електронну поштову скриньку (email) користувача.</p>
            </div>
        </div>

        <h2 class="wiki-h2-header">Для учня</h2> 

        <div class="accordion">
            <h3 class="wiki-h3-header">Щоденник</h3>

            <div>
                <p> До розділу «Щоденник» мають доступ лише авторизовані користувачі сайту зі статусом «учень». Тому користувач перш за все авторизується на сайті (Див. розділ «Авторизація користувачів»).</p>

                <p>Розділ «Щоденник» відкривається після натискання на відповідну кнопку «Щоденник» у головному меню сайту зверху сторінки. У щоденнику відображаються оцінки з усіх учбових предметів за весь навчальний рік саме того учня, який наразі авторизований на сайті.</p>

                <p>Інформація про оцінки подається у вигляді двох схожих між собою таблиць щоденника: верхня таблиця для 1-го навчального семестру, нижня – для 2-го навчального семестру.</p>

                <p>Зліва кожної таблиці у стовпчик записаний перелік усіх учбових предметів. Тобто кожна строчка таблиці містить оцінки за всі дати з певного предмету, що вказаний зліва.</p>

                <p>Над таблицею вказані назви місяців семестру і дні відповідного місяця. Тобто кожен стовпчик таблиці містить оцінки з усіх учбових предметів на певну дату, що вказана зверху таблиці.</p>

                <p>Отже, цифри у клітинках таблиці показують оцінку учня саме з того предмету и за ту дату, на перетині яких розташована відповідна клітинка з цифрою.</p>

                <p>Видима частина таблиці (щоденника) з оцінками містить інформацію лише за декілька днів будь-якого місяця. Для перегляду інформації за інші дати використовується стрічка прокрутки, що знаходиться як раз під таблицею щоденника.</p>

                <p>Оцінки відображаються певним кольором у всіх таблицях щоденника. Кольори означають відповідний тип оцінки. Наразі доступні такі типи оцінок:</p>

                <div class="rating-statuses-table">
                    {% for status in status_to_color %}
                        <div class="rating-color-to-status">
                            <div class="rating-color" style="background-color: {{ status_to_color|get_by_key:status }};"></div>
                            <div>- {{ status }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h2 class="wiki-h2-header">Для вчителя</h2>

        <div class="accordion">
            <h3 class="wiki-h3-header">Редагування оцінок</h3>

            <div>
                <p>Розділ «Редагувати оцінки» доступний лише авторизованим користувачам сайту зі статусом «вчитель». Тому користувач перш за все авторизується на сайті (Див. розділ «Авторизація користувачів»).</p>

                <p>
                    У розділі «Редагувати оцінки» вчитель має змогу:

                    <ul>
                        <li>Ввести до щоденника оцінки будь-якого учня з будь-якого учбового предмету.</li>
                        <li>Редагувати й видаляти раніше введені оцінки.</li>
                        <li>Переглядати всі оцінки усіх учнів за всі дати навчального року з будь-якого учбового предмету.</li>
                    </ul>
                </p>

                <p>Сторінка розділу «Редагувати оцінки» складається з двох частин:</p>
                <p>Перша частина – таблиця зверху сторінки призначена для введення, редагування и видалення вчителем оцінок учнів.</p>
                <p>Друга частина – нижче розташовані дві схожі між собою таблиці щоденника: верхня таблиця для 1-го навчального семестру, нижня – для 2-го навчального семестру. Ці таблиці призначені для перегляду вчителем оцінок учнів.</p>

                <p>Під час запису у щоденник оцінок є можливість вказати тип оцінки. Тоді вона буде відображатись певним кольором у всіх таблицях щоденника. Наразі доступні такі типи оцінок:</p>

                <div class="rating-statuses-table">
                    {% for status in status_to_color %}
                        <div class="rating-color-to-status">
                            <div class="rating-color" style="background-color: {{ status_to_color|get_by_key:status }};"></div>
                            <div>- {{ status }}</div>
                        </div>
                    {% endfor %}
                </div>

                <p>
                    Запис оцінок до щоденника здійснюється вчителем у таблиці верхньої частини сторінки наступним чином:

                    <ol>
                        <li>Обрати місяць, за який будуть виставлятися оцінки: у верхньому лівому куту біле поле з назвою місяця та випадним списком усіх доступних місяців навчального року.</li>
                        <li>Обрати учбовий предмет, з якого будуть виставлятися оцінки: так само у верхньому лівому куту біле поле з назвою предмету та випадним списком усіх доступних учбових предметів.</li>
                        <li>Натиснути кнопку «Застосувати», що розташована як раз під двома білими полями з попередньо обраним місяцем і предметом.</li>
                        <li>Тепер у таблиці зверху сторінки можна вводити у щоденник оцінки усіх учнів з обраного предмету за будь-які дати обраного місця.<br>Список учнів класу розташований зліва цієї таблиці. Тобто кожна строчка таблиці призначена для введення оцінок певного учня за будь-яку дату обраного місяця з обраного предмету.<br>Перелік днів попередньо обраного місяця розташований зверху таблиці. Тобто кожен стовпчик таблиці призначений для оцінок за певну дату будь-яким учням з обраного предмету.<br>Отже, кожна клітина таблиці призначена для введення у щоденник оцінки певного учня за певну дату попередньо обраного місяця та обраного учбового предмету. Зауважте, що у кожну таку клітинку можна записати до 4-х оцінок одночасно.</li>
                        <li>Натиснути на потрібну клітину таблиці. З’явиться віконце з чотирма стовпчиками для введення оцінок у щоденник.</li>
                        <li>У цьому віконці в верхню порожню клітинку будь-якого з 4-х стовпчиків вписати число, тобто – оцінку.</li>
                        <li>В тому самому стовпчику у клітинці, що розташована як раз під введеним числом, з випадного списку обрати тип оцінки, або залишити стандартний тип - «звичайна» оцінка.</li>
                        <li>Таким чином заповнити всі чотири стовпчики або деякі з них, та натиснути кнопку «ОК», що розташована у нижній частині віконця. Тепер клітина з оцінками змінює колір на яскравіший, ніж порожні (без оцінок) клітини таблиці.</li>
                        <li>Далі повторити дії пунктів 5-8 для того, щоб ввести в щоденник усі потрібні оцінки учнів за дні попередньо обраного місяця та обраного учбового предмету. Ті клітини таблиці щоденника, у які не було введено оцінок, зберігають свої попередні значення за наявності.</li>
                        <li>Тепер обов’язково натиснути кнопку «Зберегти», що розташована під таблицею, в якій щойно заповнили клітини з оцінками учнів. Таким чином зберігаються оцінки у щоденнику і стають доступними для перегляду як учням, так і вчителю.</li>
                    </ol>
                </p>

                <p>Процедуру запису оцінок у щоденник (послідовно всі вказані 10 кроків) можна повторювати безліч разів, обираючи різні місяці навчального року та/або учбові предмети та зберігаючи додані/змінені оцінки учнів.</p>

                <p>
                    Редагування оцінок у щоденнику здійснюється вчителем також у таблиці верхньої частини сторінки. Для цього виконати всі 10 кроків з порядку запису оцінок у щоденник, але з наступними відмінностями: 

                    <ol>
                        <li>У пункті 5 обирати лише ту клітину таблиці щоденника, в якій потрібно змінити оцінку/оцінки.</li>
                        <li>У пунктах 6-7 у віконце з чотирма стовпчиками наново перезаписати правильні значення оцінки/оцінок й їх типи.</li>
                        <li>Після перезапису оцінок у потрібних клітинах таблиці обов’язково натиснути кнопку «Зберегти» (див. пункт 10 з порядку запису оцінок у щоденник).</li>
                    </ol>

                </p>

                <p>
                    Видалення оцінок у щоденнику здійснюється вчителем також у таблиці верхньої частини сторінки. Для цього виконати всі 10 кроків з порядку запису оцінок у щоденник, але з наступними відмінностями: 

                    <ol>
                        <li>У пункті 5 обирати лише ту клітину таблиці щоденника, в якій потрібно видалити оцінку/оцінки, тобто весь вміст.</li>
                        <li>У пунктах 6-7 у віконце з чотирма стовпчиками щонайменше в одну з верхніх клітинок стовпчиків вписати оцінку «0» (нуль), інші верхні клітинки стовпчиків залишити порожніми.</li>
                        <li>Після перезапису оцінок у потрібних клітинах таблиці обов’язково натиснути кнопку «Зберегти» (див. пункт 10 з порядку запису оцінок у щоденник).</li>
                    </ol>
                </p>

                <p>Перегляд оцінок учнів вчителем відбувається у другій частині сторінки розділу «Редагувати оцінки». Тобто там, де розташовані дві схожі між собою таблиці щоденника: верхня таблиця для 1-го навчального семестру, нижня – для 2-го навчального семестру. 
                Оцінки у таблицях відображаються вчителю одночасно лише за одним учбовим предметом, але одночасно усіх учнів за всі дати учбового року.<p>

                <p>Вчителю достатньо обрати предмет для показу оцінок і підтвердити свій вибір за допомогою кнопки, що розташована зверху над таблицею щоденника для 1-го семестру (саме над написом «1 семестр»). Спершу обирається учбовий предмет у білому полі з назвою учбового предмету й випадним списком усіх предметів. Далі, зліва від цього поля з предметом натискається кнопка «Показати оцінки за обраним предметом». В результаті, в таблицях щоденника для 1-го та 2-го семестру одразу відображаються оцінки всіх учнів з обраного предмету за всі дати навчального року.</p>

                <p>Для перегляду оцінок з іншого предмету достатньо обрати бажаний предмет у випадному списку й підтвердити свій вибір натисканням кнопки «Показати оцінки за обраним предметом».</p>
            </div>
        </div>
    </div>

    <script>
        class Accordion {
            constructor(element, id, all) {
                this.header = element.children[0];
                this.value = element.children[1];
                this.value.style.display = "none";
                this.id = id;
                this.all = all;
                this._isOpened = false;
                const self = this;
                this.header.onclick = this._changeState.bind(self);
            }

            _changeState() {
                if (!this._isOpened) {
                    this.value.style.display = "block";
                    this._isOpened = true;

                    for (const acc of this.all) {
                        if (acc.id !== this.id) {
                            acc.value.style.display = "none";
                        }
                    }
                } else {
                    this.value.style.display = "none";
                    this._isOpened = false;
                }
            }
        }

        const accordions = document.getElementsByClassName("accordion");
        const accordionInstances = [];
        let count = 0;

        for (const acc of accordions) {
            count++;
            const accordion = new Accordion(acc, count, accordionInstances);
            accordionInstances.push(accordion);
        }
    </script>
{% endblock %}