{% extends "base.html" %}
{% load times %}
{% load concat %}
{% load static %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'editratings-form.css' %}">
    <link rel="stylesheet" href="{% static 'config-form.css' %}">
    <link rel="stylesheet" href="{% static 'mini-forms.css' %}">
{% endblock %}

{% block main_content %}
    <form method="post" class="editratings-form">
        {% csrf_token %}
        
        <div class="editratings-form-main-content">
            <div class="editratings-form-table">
                <div class="editratings-form-students-sidebar">
                    {% for student in students %}
                        <div class="editratings-form-student-gap"><span>{{ student.real_full_name }}</span></div>
                    {% endfor %}
                </div>

                <div class="editratings-form-journal">
                    <div class="editratings-form-dates-bar">
                        {% for date in showing_dates %}
                            <div class="editratings-form-date-container"><span>{{ date }}</span></div>
                        {% endfor %}
                    </div>

                    <div class="editratings-form-table-body">
                        {% for student in students %}
                            <div class="editratings-form-table-row">
                                {% for d in showing_dates %}
                                    <input type="button" class="editratings-form-table-gap" id="rating-gap-{{ student.pk }}-for-date-{{ d }}">
                                    
                                    <div class="set-rating-mini-form" id="set-rating-mini-form-{{ student.pk }}-for-date-{{ d }}">
                                        <div class="set-rating-mini-form-rating-inputs">
                                            {% for i in 4|times %}
                                                <input class="set-rating-mini-form-rating-input"
                                                    id="set-rating-mini-form-rating-input-{{ i }}-{{ student.pk }}-for-date-{{ d }}">
                                            {% endfor %}
                                        </div>
                            
                                        <div class="set-rating-mini-form-status-inputs">
                                            {% for i in 4|times %}
                                                <select class="set-rating-mini-form-status-input" 
                                                    size="1"
                                                    id="set-rating-mini-form-status-input-{{ i }}-{{ student.pk }}-for-date-{{ d }}">
                                                        {% for type in rating_statuses %}
                                                            <option>{{ type }}</option>
                                                        {% endfor %}
                                                </select>
                                            {% endfor %}
                                        </div>

                                        <input type="button" class="set-rating-mini-form-button" id="set-rating-mini-form-button-{{ student.pk }}-for-date-{{ d }}" value="OK">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" class="config-form">
        {% csrf_token %}

        <select class="config-form-month-name-input" size="1" name="month_name_input">
            {% for month in months %}
                {% if month_name == month.name %}
                    <option selected>{{ month.name }}</option>
                {% else %}
                    <option>{{ month.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select class="config-form-subject-name-input" size="1" name="subject_name_input">
            {% for subject in subjects %}
                {% if subject_name == subject.name %}
                    <option selected>{{ subject.name }}</option>
                {% else %}
                    <option>{{ subject.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" class="config-form-submit-input" name="config" value="Застосувати">
    </form>
{% endblock %}

{% block additional_scripts %}
    <script async>
        let ratingGaps = document.getElementsByClassName("editratings-form-table-gap");
        let ratingGapsLen = ratingGaps.length;
        
        for (let i = 0; i < ratingGapsLen; i++) {
            let gap = ratingGaps[i];

            gap.onclick = () => {
                let splitedGapId = gap.id.split("-");
                let miniRatingFormId = `set-rating-mini-form-${splitedGapId[2]}-for-date-${splitedGapId[5]}`;
                let miniRatingForm = document.getElementById(miniRatingFormId);
                miniRatingForm.style.display = "flex";
                let date = splitedGapId[5];
                let day = +splitedGapId[5].split(".")[0];
                miniRatingForm.style.left = `${215 + (+day - 1) * 30}`;
                miniRatingForm.style.top = `${175 + (+splitedGapId[2] - 1) * 15}`;
                gap.style.backgroundColor = "blue";
                return false;
            }
        }

        async function setFirstStyles(form, gap) {
            form.style.display = "none";
            gap.style.backgroundColor = "#686";
        }

        let miniForms = document.getElementsByClassName("set-rating-mini-form");
        let miniFormsLen = miniForms.length;

        for (let i = 0; i < miniFormsLen; i++) {
            let form = miniForms[i];
            let children = form.children;
            let button = children[children.length - 1];
            let gapId = `rating-gap-${button.id.split("-")[5]}-for-date-${button.id.split("-")[8]}`;
            let gap = document.getElementById(gapId);

            button.onclick = () => {
                setFirstStyles(form, gap);
                return false;
            }
        }
    </script>
{% endblock %}