{% extends "base.html" %}
{% load times %}
{% load concat %}
{% load static %}
{% load cache %}
{% load get_by_key %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'editratings-form.css' %}">
    <link rel="stylesheet" href="{% static 'config-form.css' %}">
    <link rel="stylesheet" href="{% static 'mini-forms.css' %}">
    <link rel="stylesheet" href="{% static 'see-all-ratings-table.css' %}">
    <link rel="stylesheet" href="{% static 'show-subject-form.css' %}">

    <style>
        #toMainButton {
            background-color: blue;
        }

        #editRatingsButton {
            background-color: #00A;
        }
    </style>
{% endblock %}

{% block main_content %}
    <form method="post" class="editratings-form">
        {% csrf_token %}
        
        <div class="editratings-form-main-content">
            <div class="editratings-form-table">
                {% cache 604800 editratings_students_sidebar %}
                    <div class="editratings-form-students-sidebar">
                        {% for student in students %}
                            <div class="editratings-form-student-gap"><span>{{ student.real_full_name }}</span></div>
                        {% endfor %}
                    </div>
                {% endcache %}

                <div class="editratings-form-journal">
                    <div class="editratings-form-dates-bar">
                        {% for date in showing_dates %}
                            <div class="editratings-form-date-container"><span>{{ date }}</span></div>
                        {% endfor %}
                    </div>

                    {% cache 2592000 editratings_table_body %}
                        <div class="editratings-form-table-body">
                            {% for student in students %}
                                <div class="editratings-form-table-row">
                                    {% for d in showing_dates %}
                                        <input type="button" class="editratings-form-table-gap" id="rating-gap-{{ student.index }}-for-date-{{ d }}">
                                        
                                        <div class="set-rating-mini-form" id="set-rating-mini-form-{{ student.index }}-for-date-{{ d }}">
                                            <div class="set-rating-mini-form-rating-inputs">
                                                {% for i in 4|times %}
                                                    <input class="set-rating-mini-form-rating-input"
                                                        id="set-rating-mini-form-rating-input-{{ i }}-{{ student.index }}-for-date-{{ d }}"
                                                        name="rating-input-{{ i }}-{{ student.index }}-date-{{ d }}"
                                                        onchange="this.value = Math.floor(this.value);
                                                                  this.value = Math.max(this.value, 0);
                                                                  this.value = Math.min(this.value, 12);">
                                                {% endfor %}
                                            </div>
                                
                                            <div class="set-rating-mini-form-status-inputs">
                                                {% for i in 4|times %}
                                                    <select class="set-rating-mini-form-status-input" 
                                                        size="1"
                                                        id="set-rating-mini-form-status-input-{{ i }}-{{ student.index }}-for-date-{{ d }}"
                                                        name="status-input-{{ i }}-{{ student.index }}-date-{{ d }}">
                                                            {% for type in rating_statuses %}
                                                                <option>{{ type }}</option>
                                                            {% endfor %}
                                                    </select>
                                                {% endfor %}
                                            </div>

                                            <input type="button" class="set-rating-mini-form-button" id="set-rating-mini-form-button-{{ student.index }}-for-date-{{ d }}" value="OK">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endcache %}
                </div>
            </div>
        </div>

        <input type="submit" name="save_ratings" value="Зберегти" class="editratings-form-submit-button">
    </form>

    <form method="post" class="config-form">
        {% csrf_token %}

        <select class="config-form-month-name-input" size="1" name="month_name_input">
            {% for month in months %}
                {% if month_name == month.name %}
                    <option selected>{{ month.name }}</option>
                {% else %}
                    <option>{{ month.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select class="config-form-subject-name-input" size="1" name="subject_name_input">
            {% for subject in subjects %}
                {% if subject_name == subject.name %}
                    <option selected>{{ subject.name }}</option>
                {% else %}
                    <option>{{ subject.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" class="config-form-submit-input" name="config" value="Застосувати">
    </form>

    <form method="post" class="show-subject-form">
        {% csrf_token %}
        <input type="submit" class="show-subject-form-submit" name="show-subject" value="Показати оцінки за обраним предметом">
        
        <select size="1" name="showing-subject">
            {% for subject in subjects %}
                <option>{{ subject.name }}</option>
            {% endfor %}
        </select>
    </form>

    <div class="see-all-ratings-journal">
        <h1 class="see-all-ratings-semester-marker">1 Семестр</h1>

        <div class="see-all-ratings-semester-table">
            <div class="see-all-ratings-table-students-sidebar">
                {% for student in students %}
                    <div class="see-all-ratings-table-student-gap"><span>{{ student.real_full_name }}</span></div>
                {% endfor %}
            </div>

            <div class="see-all-ratings-table">
                {% for month in first_semester_months %}
                    <div class="see-all-ratings-table-month">
                        <h1 class="month-marker">{{ month.name }}</h1>

                        <div class="see-all-ratings-table-body">
                            {% for day_number in month.days|times %}
                                <div class="see-all-ratings-table-column" id="col-{{ month.number_in_year }}-{{ day_number }}">
                                    <div class="see-all-ratings-table-number-gap"><span>{{ day_number }}</span></div>

                                    {% for row in students_len|times %}
                                        <div class="see-all-ratings-table-rating-gap" id="gap-{{ month.number_in_year }}-{{ day_number }}-{{ row }}"></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <h1 class="see-all-ratings-semester-marker">2 Семестр</h1>

        <div class="see-all-ratings-semester-table">
            <div class="see-all-ratings-table-students-sidebar">
                {% for student in students %}
                    <div class="see-all-ratings-table-student-gap"><span>{{ student.real_full_name }}</span></div>
                {% endfor %}
            </div>

            <div class="see-all-ratings-table">
                {% for month in second_semester_months %}
                    <div class="see-all-ratings-table-month">
                        <h1 class="month-marker">{{ month.name }}</h1>

                        <div class="see-all-ratings-table-body">
                            {% for day_number in month.days|times %}
                                <div class="see-all-ratings-table-column" id="col-{{ month.number_in_year }}-{{ day_number }}">
                                    <div class="see-all-ratings-table-number-gap"><span>{{ day_number }}</span></div>

                                    {% for row in students_len|times %}
                                        <div class="see-all-ratings-table-rating-gap" id="gap-{{ month.number_in_year }}-{{ day_number }}-{{ row }}"></div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="rating-statuses-table">
        {% for status in status_to_color %}
            <div class="rating-color-to-status">
                <div class="rating-color" style="background-color: {{ status_to_color|get_by_key:status }};"></div>
                <div>- {{ status }}</div>
            </div>
        {% endfor %}
    </div>

    {% for rating in ratings %}
        <script async>
            var date = "{{ rating.month }}-{{ rating.day }}";
            var student = "{{ rating.students.first.index }}";

            if ("{{ rating.rating1 }}" !== "None") {
                let value = "{{ rating.rating1.value }}";
                let color = "{{ rating.rating1.color }}";
                let gapId = "gap-" + date + "-" + student;
                let gap = document.getElementById(gapId);
                let canPutSlash = "{{ rating.rating2 }}" !== "None" || "{{ rating.rating3 }}" !== "None" || "{{ rating.rating4 }}" !== "None";
                gap.innerHTML = `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            }
            
            if ("{{ rating.rating2 }}" !== "None") {
                let value = "{{ rating.rating2.value }}";
                let color = "{{ rating.rating2.color }}";
                let gapId = "gap-" + date + "-" + student;
                let gap = document.getElementById(gapId);
                let canPutSlash = "{{ rating.rating3 }}" !== "None" || "{{ rating.rating4 }}" !== "None";
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            }
            
            if ("{{ rating.rating3 }}" !== "None") {
                let value = "{{ rating.rating3.value }}";
                let color = "{{ rating.rating3.color }}";
                let gapId = "gap-" + date + "-" + student;
                let gap = document.getElementById(gapId);
                let canPutSlash = "{{ rating.rating4 }}" !== "None";
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}${canPutSlash ? "/" : ""}</span>`;
            } 
            
            if ("{{ rating.rating4 }}" !== "None") {
                let value = "{{ rating.rating4.value }}";
                let color = "{{ rating.rating4.color }}";
                let gapId = "gap-" + date + "-" + student;
                let gap = document.getElementById(gapId);
                gap.innerHTML += `<span style='color: ${color}; display: block;'>${value}</span>`;
            }
        </script>
    {% endfor %}

    <script async>
        if ("{{ canRedirect }}" === "y") window.location.href = "/";


        // ---
        const FIRST_WEEKEND_START_DAY = 5;
        // ---


        let is366 = (new Date()).getFullYear() % 4 === 0;
        const MONTHS_LENGTHS = [30, 31, 30, 31, 31, 28 + is366, 31, 30, 31];
        let isPlus6 = false;
        let lastJ = FIRST_WEEKEND_START_DAY;

        for (let i = 1; i <= 9; i++) {
            for (var j = lastJ; j <= MONTHS_LENGTHS[i - 1];) {
                let column = document.getElementById(`col-${i}-${j}`);
                let gaps = column.children;
                for (let gap of gaps) if (gap.className === "see-all-ratings-table-rating-gap") gap.style.backgroundColor = "#FFA";
                if ((j + (isPlus6 ? 6 : 1)) > MONTHS_LENGTHS[i - 1]) break;
                j += isPlus6 ? 6 : 1;
                isPlus6 = !isPlus6;
            }

            lastJ = (j - MONTHS_LENGTHS[i - 1] + (isPlus6 ? 6 : 1));
            isPlus6 = !isPlus6;
        }
    </script>
{% endblock %}

{% block additional_scripts %}
    <script async src="{% static 'editratings_mini_forms.js' %}"></script>
{% endblock %}