{% extends "base.html" %}
{% load times %}
{% load concat %}
{% load static %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'editratings-form.css' %}">
    <link rel="stylesheet" href="{% static 'config-form.css' %}">
{% endblock %}

{% block main_content %}
    <form method="post" class="editratings-form">
        {% csrf_token %}
        
        <div class="editratings-form-main-content">
            <div class="editratings-form-table">
                <div class="editratings-form-students-sidebar">
                    {% for student in students %}
                        <div class="editratings-form-student-gap"><span>{{ student.real_full_name }}</span></div>
                    {% endfor %}
                </div>

                <div class="editratings-form-journal">
                    <div class="editratings-form-dates-bar">
                        {% for date in showing_dates %}
                            <div class="editratings-form-date-container"><span>{{ date }}</span></div>
                        {% endfor %}
                    </div>

                    <div class="editratings-form-table-body">
                        {% for student in students %}
                            <div class="editratings-form-table-row">
                                {% for d in showing_dates %}
                                    <button class="editratings-form-table-gap" id="rating-gap-{{ student.pk }}-for-date-{{ d }}"></button>
                                    <!-- edit ratings -->
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" class="config-form">
        {% csrf_token %}

        <select class="config-form-month-name-input" size="1" name="month_name_input">
            {% for month in months %}
                {% if month_name == month.name %}
                    <option selected>{{ month.name }}</option>
                {% else %}
                    <option>{{ month.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <select class="config-form-subject-name-input" size="1" name="subject_name_input">
            {% for subject in subjects %}
                {% if subject_name == subject.name %}
                    <option selected>{{ subject.name }}</option>
                {% else %}
                    <option>{{ subject.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" class="config-form-submit-input" name="config" value="Застосувати">
    </form>
{% endblock %}

{% block additional_scripts %}
    <script async>
        let ratingGaps = document.getElementsByClassName("editratings-form-table-gap");
        
        for (let i in ratingGaps) {
            let gap = ratingGaps[i];

            gap.onclick = () => {
                let splitedGapId = gap.id.split("-");
                let miniRatingFormId = `mini-rating-form-${splitedGapId[2]}-for-date-${splitedGapId[5]}`;
                let miniRatingForm = document.getElementById(miniRatingFormId);
                miniRatingForm.style.display = "block";
                miniRatingForm.style.left = `${215 + i * 30}`;
            }
        }
    </script>
{% endblock %}