{% extends "base.html" %}
{% load static %}

{% block additional_sheets %}
    <link rel="stylesheet" href="{% static 'article-form.css' %}">

    <style>
        #toMainButton {
            background-color: blue;
        }

        #addArticleButton {
            background-color: #00A;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="document-wrapper">
        <form method="post" enctype="multipart/form-data" class="add-article-form">
            {% csrf_token %}
            <input name="header" required class="add-article-form-header" placeholder="Заголовок" autocomplete="off">
            <textarea name="text" required class="add-article-form-textarea" placeholder="Текст" cols="80" rows="12"></textarea>

            <div class="add-article-form-file-container">
                <span class="add-article-form-label">Зображення (не обов'язково):</span>
                <span id="selectImageInputButton" class="add-article-form-input-alter-button">Обрати файл .jpg, .jpeg, .png або .bmp (<span id="selectImageStatus">не обрано</span>)</span>
                <input type="file" name="image" id="image" class="add-article-form-file" accept=".jpg, .jpeg, .png, .bmp">
            </div>

            <div class="add-article-form-file-container">
                <span class="add-article-form-label">Відео (не обов'язково):</span>
                <span id="selectVideoInputButton" class="add-article-form-input-alter-button">Обрати файл .mp4 (<span id="selectVideoStatus">не обрано</span>)</span>
                <input type="file" name="video" id="video" class="add-article-form-file" accept=".mp4">
            </div>

            <input type="submit" name="save_article" value="Зберегти" class="add-article-form-submit">
        </form>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script async>
        let selectVideoButton = document.getElementById("selectVideoInputButton");
        let selectVideoStatus = document.getElementById("selectVideoStatus");
        let video = document.getElementById("video");
        selectVideoButton.onclick = () => video.click();
        video.onchange = () => selectVideoStatus.innerText = video.value.split(/(\\|\/)/).pop();

        let selectImageButton = document.getElementById("selectImageInputButton");
        let selectImageStatus = document.getElementById("selectImageStatus");
        let image = document.getElementById("image");
        selectImageButton.onclick = () => image.click();
        image.onchange = () => selectImageStatus.innerText = image.value.split(/(\\|\/)/).pop();
    </script>
{% endblock %}